@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

:root {

  /* ======== Variables ======== */

  /* Colors */
  --primary-color: #1B1B1D;
  --secondary-color: #1E1E22;
  --tertiary-color: #535353;

  --auxiliary-color: #5702FF;
  --auxiliary-bad-color: #FF0267;
  --auxiliary-good-color: #02FFFF;

  /* Fonts */
  --font-color: #D9D9D9;
  --font-default: Arial, helvetica, sans-serif;
  --font-fantasy: "Itim", cursive;
}

/*
@media (prefers-color-scheme: dark) {
  :root {}
}
*/
#root {
  width: 100%;
  min-height: 100vh;
  background-color: var(--primary-color);
  color: var(--font-color);
} 

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-default);
}

body {
  margin: 0;
}
