.gainCard{
    width: 100%;
    height: 100px;
    padding: 3px;
    margin-top: 10px;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    border-right: 5px solid var(--auxiliary-good-color);
}

.expenseCard{
    width: 100%;
    height: 100px;
    padding: 3px;
    margin-top: 10px;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    border-right: 5px solid var(--auxiliary-bad-color);
}